details.toc {
  & summary {
    cursor: url("https://cdn.prod.website-files.com/6708f85ff3d3cba6aff436fb/671251b212e6b71494aa67ff_cursor-pointer%402x.svg") 12 0, pointer;

    &::marker {
      color: var(--dark);
    }

    & > * {
      padding-left: 0.25rem;
      display: inline-block;
      margin: 0;
    }
  }

  & ul {
    list-style: none;
    margin: 0.5rem 1.25rem;
    padding: 0;
  }

  @for $i from 1 through 6 {
    & .depth-#{$i} {
      padding-left: calc(1rem * #{$i});
    }
  }
}
